<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.mapper.SubjectListMapper">
  <resultMap id="BaseResultMap" type="com.kj.model.POJO.SubjectList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subject_code" jdbcType="VARCHAR" property="subjectCode" />
  </resultMap>
  <select id="listSubject" resultType="map">
    SELECT
    sl.id, sl.status, sl.name, sl.type
    FROM subject_list sl
  </select>
</mapper>