<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.mapper.VoucherInfoMapper">
  <resultMap id="BaseResultMap" type="com.kj.model.POJO.VoucherInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="voucher_code" jdbcType="VARCHAR" property="voucherCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>